@import './var.scss';
@import './text.scss';
@import './space.scss';
@import './display.scss';
@import './position.scss';
@import './font.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Manrope';
    outline: none;

}

table {
    border-spacing: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



a {
    text-decoration: none;
}



.container {
    padding: 0 32px;
}



.btn {
    transition: ease .1s;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

}

.rounded-8 {
    border-radius: 8px;
}

.rounded-sm {
    border-radius: 12px;
}

.rounded-t-sm {
    border-radius: 12px 12px 0 0;
}

.rounded-b-sm {
    border-radius: 0 0 12px 12px;
}

.rounded-full {
    border-radius: 50%;
}


.h-full {
    height: 100%;
}

.min-h-full {
    min-height: 100%;
}

.w-full {
    width: 100%;
}

.max-w-full {
    width: 100%;
}

input {
    border-radius: 12px;
    border: 2px solid $color-gray-light;
    outline: none;
    font-size: 16px;
    line-height: 24px;

    &:hover,
    &:focus {
        border-color: $color-yellow-light;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;

    }
}

.point:hover {
    cursor: pointer;

}

.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tr-scrollbar::-webkit-scrollbar {
    height: 4px;
}

.tr-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent !important;
}

.tr-scrollbar::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: $color-yellow-light !important;
    border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: $color-yellow-100;
    border-radius: 6px;
}

.max-w-max {
    max-width: max-content;
}

.border-b {
    border-bottom: 1px solid;
}

.border {
    border: 1px solid;
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.-rotate-90 {
    transform: rotate(-90deg);
}

.opacity-0 {
    opacity: 0;
}

.opacity-10 {
    opacity: 10%;
}

.opacity-20 {
    opacity: 20%;
}

.opacity-30 {
    opacity: 20%;
}

.opacity-40 {
    opacity: 40%;
}

.opacity-50 {
    opacity: 50%;
}

.border-none {
    border: none !important;
}


.object-cover {

    object-fit: cover;
}

.shadow {
    // box-shadow: 0px 16px 32px -8px rgba(12, 12, 13, 0.04);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.08);

}

.bor {
    border: 1px solid red;
}

@media only screen and (max-width: 640px) {
    .px-8 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.main-modal {
    .p-3 {
        padding: 8px 0;
        margin-right: 10px;
    }

    .switch {
        width: 40px !important;
        height: 24px !important;
    }

    .slider::before {
        width: 16px !important;
        height: 16px !important;
    }

    .slider.round {
        border-radius: 24px !important;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(16px) !important;
        -ms-transform: translateX(16px) !important;
        transform: translateX(16px) !important;
    }

    .text-base {
        font-size: 14px;
        line-height: 16px;
    }

    .rounded-sm {
        border-radius: 6px;
    }
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
    
}

.min-w-max{
    min-width: max-content;
}

.max-w-max{
    max-width: max-content;
}

.underline{
    text-decoration: underline;
}