.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.text-sm {
    font-size: 12px;
    line-height: 16px;
}

.text-xs {
    font-size: 14px;
    line-height: 20px;
}

.text-base {
    font-size: 16px;
    line-height: 24px;
}

.text-xl {
    font-size: 20px;
    line-height: 24px;
}

.text-2xl {
    font-size: 24px;
    line-height: 24px;
}

.text-4xl {
    font-size: 48px;
    line-height: 48px;
}

.line-through {
    text-decoration-line: line-through;
}

.text-underline {
    text-underline-offset: 1px;
    text-decoration: underline;
}